{{define "base.html"}}
  <!DOCTYPE html>
  <html>
    <head>
      <title>{{template "title" .}}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- (?) -->
      <style>body {
        padding-top: 50px;
      }</style>
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="/">Hello</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {{if or (eq .nav "home")}}active{{end}}">
              <a class="nav-link" href="/">Home {{if or (eq .nav "home")}}<span class="sr-only">(current)</span>{{end}}</a>
            </li>
            <li class="nav-item {{if or (eq .nav "about")}}active{{end}}">
              <a class="nav-link" href="/about">About {{if or (eq .nav "about")}}<span class="sr-only">(current)</span>{{end}}</a>
            </li>
          </ul>
          <!-- (?) -->
          <a href="/user/add" class="btn btn-outline-success my-2 my-sm-0">Sign-in</a>
        </div>
      </nav>
      {{template "body" .}}
    </body>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  </html>
{{end}}
