{{define "title"}} {{index . "name"}} {{end}} {{define "body"}}
<main role="main">
  <div class="container">
    <div class="content body">
      <div class="col-md-12">
        <h2 class="mt-4">Users</h2>
        <div class="row justify-content-end">
          <div class="col-2">
            <a href="/users/add" class="btn btn-info btn-sm btn-flat"
              >Add New</a
            >
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped no-margin">
            <tbody>
              <tr>
                <th style="width: 30px">ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              {{range $user := .users}}
              <tr>
                <td>
                  {{$user.Model.ID}}
                </td>
                <td>
                  {{$user.Email}}
                </td>
                <td>
                  {{$user.Name}}
                </td>
                <td style="width: 195px">
                  <a
                    href="/users/read/{{$user.Model.ID}}"
                    class="btn btn-sm btn-success"
                    >Read</a
                  >
                  <a
                    href="/users/view/{{$user.Model.ID}}"
                    class="btn btn-sm btn-warning"
                    >View</a
                  >
                  <a
                    href="/users/delete/{{$user.Model.ID}}"
                    class="btn btn-sm btn-danger"
                    >Delete</a
                  >
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{{end}}
