{{define "title"}} {{index . "name"}} {{end}} {{define "body"}}
<main role="main">
  <div class="container">
    <div class="content body">
      <div class="col-md-12">
        <h2 class="mt-4">Users</h2>
        <div class="row justify-content-end">
          <div class="col-2">
            <a href="/user/add" class="btn btn-info btn-sm btn-flat">Add New</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped no-margin">
            <tbody>
              <tr>
                <th style="width: 30px">ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>
                  1
                </td>
                <td>
                  OckiFals
                </td>
                <td>
                  Ocki Bagus Pratama
                </td>
                <td style="width: 195px">
                  <a href="/user/read/1" class="btn btn-sm btn-success">Read</a>
                  <a href="/user/view/1" class="btn btn-sm btn-warning">View</a>
                  <a href="/user/delete/1" class="btn btn-sm btn-danger"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{{end}}
