{{define "users/user-form.html"}}
<!-- &lcud;{ is_new ? 'New Node' : 'Edit Node' }&rcud; -->
{{if not .is_read}}
<form action="/users{{if .is_new}}/add{{else}}/view/{{.user.Model.ID}}{{end}}" id="user-form" method="post">
  {{end}}
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="username">Username</label>
      <input id="username" type="text" class="form-control" name="username" minlength="4" maxlength="15"
        value="{{if not .is_new}}{{.user.Username}}{{end}}" placeholder="Username" required
        {{if.is_new}}autofocus{{end}} {{if.is_read}}disabled{{end}} />
    </div>
    <div class="form-group col-md-12">
      <label for="name">Name</label>
      <input id="name" type="text" class="form-control" name="name" value="{{if not .is_new}}{{.user.Name}}{{end}}"
        placeholder="Name" required {{if.is_read}}disabled{{end}} />
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" name="email" value="{{if not .is_new}}{{.user.Email}}{{end}}"
        placeholder="Email" required {{if.is_read}}disabled{{end}} />
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      {{if .is_new}}
      <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password"
        required />
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input id="confirm_password" type="confirm_password" class="form-control" name="confirm_password" value=""
          placeholder="Confirm Password" required />
        {{else}}
        <a class="btn btn-outline-secondary btn-block {{if.is_read}}disabled{{end}}"
          href="/users/view/{{.user.ID}}/password" role="button">Link</a>
        {{end}}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <select id="city" name="city" class="form-control" {{if.is_read}}disabled{{end}}>
        <option value="0">-----</option>
        {{range $key, $value := .cities}}
        {{if not $.is_new}}
        <option value="{{$value.ID}}" {{if eq $value.ID $.user.City}}selected{{end}}>{{$value.City}}</option>
        {{else}}
        <option value="{{$value.ID}}">{{$value.City}}</option>
        {{end}}
        {{end}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="photo">Photo</label>
      <input id="file" type="file" name="photo" {{if.is_read}}disabled{{end}} />
    </div>
  </div>
  <a href="/users" class="btn btn-sm btn-primary">&lt;--</a>
  {{if.is_read}}
  <a href="/users/view/{{.user.ID}}" class="btn btn-sm btn-warning">View</a>
  {{else}}
  <button type="submit" class="btn btn-sm {{if .is_new}}btn-primary{{else}}btn-warning{{end}}">
    {{if .is_new}}Sign in{{else}}View{{end}}
  </button>
  {{end}}
  {{if not .is_new }}
  <a href="/users/delete/{{.user.Model.ID}}" class="btn btn-sm btn-danger">Delete</a>
  {{end}}
  {{if not .is_read}}
</form>
{{end}}

{{end}}