<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Change Password</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/signin.css">
  </head>

  <body class="text-center">
    <form class="form-signin" id="user-password-form" action="/users/view/{{.user.Model.ID}}/password" method="post">
      <input type="hidden" name="X-CSRF-Token" value="{{.csrf}}"/>
      <h3 class="mt-4">{{.name}}</h3>
      <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
      <label for="password" class="sr-only">Old password</label>
      <input type="password" id="old_password" name="old_password" class="form-control" placeholder="old password" value="" required autofocus>
      <label for="password" class="sr-only">New password</label>
      <input type="password" id="new_password" name="new_password" class="form-control" placeholder="new password" value="" required>
      <label for="password" class="sr-only">Confirm new password</label>
      <input type="password" id="confirm_new_password" name="confirm_new_password" class="form-control" placeholder="confirm new password" value="" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm new password</button>
      <a href="/users/view/{{.user.Model.ID}}" class="btn btn-sm btn-secondary">&lt;--back</a>
    </form>
  </body>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <!-- jQuery Validate -->
  <!-- too long, around 2015 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#user-password-form").validate({
        // Specify the validation rules
        rules: {
          old_password: {
            required: true,
            minlength: 6,
            maxlength: 18,
          },
          new_password: {
            required: true,
            minlength: 6,
            maxlength: 18,
          },
          confirm_new_password: {
            required: true,
            minlength: 6,
            maxlength: 18,
            equalTo: "#new_password"
          },
        },

        // Specify the validation error messages
        messages: {
          old_password: {
            required: "Please provide a old password",
            minlength: "Your password must be at least 6-18 characters long",
            maxlength: "Your password must be at least 6-18 characters long"
          },
          new_password: {
            required: "Please provide a new password",
            minlength: "Your password must be at least 6-18 characters long",
            maxlength: "Your password must be at least 6-18 characters long"
          },
          confirm_new_password: {
            required: "Please provide a confirm new password",
            minlength: "Your password must be at least 6-18 characters long",
            maxlength: "Your password must be at least 6-18 characters long"
          },
        },

        submitHandler: function (form) {
          form.submit();
        }
      })
    });
  </script>

</html>