{{define "users/user-form.html"}}
<!-- &lcud;{ is_new ? 'New Node' : 'Edit Node' }&rcud; -->
{{if not .is_read}}
<form
  action="/users{{if .is_new}}/add{{else}}/view/{{.user.Model.ID}}{{end}}"
  method="post"
>
  {{end}}
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        value="{{if not .is_new}}{{.user.Username}}{{end}}"
        id="username"
        required
        {{if.is_read}}disabled{{end}}
      />
    </div>
    <div class="form-group col-md-12">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        value="{{if not .is_new}}{{.user.Name}}{{end}}"
        required
        {{if.is_read}}disabled{{end}}
      />
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        value="{{if not .is_new}}{{.user.Email}}{{end}}"
        required
        {{if.is_read}}disabled{{end}}
      />
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        value="{{if not .is_new}}{{.user.Password}}{{end}}"
        required
        {{if.is_read}}disabled{{end}}
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <select name="city" class="form-control" {{if.is_read}}disabled{{end}}>
        <option value="0">-----</option>
        {{range $key, $value := .cities}}
          {{if not $.is_new}}
        <option value="{{$value.ID}}" {{if eq $value.ID $.user.City}}selected{{end}}>{{$value.City}}</option>
          {{else}}
        <option value="{{$value.ID}}">{{$value.City}}</option>
          {{end}}
        {{end}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="photo">Photo</label>
      <input type="file" name="photo" {{if.is_read}}disabled{{end}} />
    </div>
  </div>
  <a href="/users" class="btn btn-sm btn-primary">&lt;--</a>
  {{if.is_read}}
  <a href="/users/view/{{.user.ID}}" class="btn btn-sm btn-warning">View</a>
  {{else}}
  <button
    type="submit"
    class="btn btn-sm {{if .is_new}}btn-primary{{else}}btn-warning{{end}}"
  >
    {{if .is_new}}Sign in{{else}}View{{end}}
  </button>
  {{end}} {{if not .is_new }}
  <a href="/users/delete/{{.user.Model.ID}}" class="btn btn-sm btn-danger"
    >Delete</a
  >
  {{end}} {{if not .is_read}}
</form>
{{end}}
<script>
  window.onload = function() {
    document.getElementById("username").focus();
  }
</script>
{{end}}
