{{define "users/user-form.html"}}
<!-- &lcud;{ is_new ? 'New Node' : 'Edit Node' }&rcud; -->
<form
  action="/users{{if .is_new}}/add{{else}}/view/{{.user.Model.ID}}{{end}}"
  method="post"
>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="name">Name</label>
      <!-- name: Ocki Bagus Pratama -->
      <input
        type="text"
        class="form-control"
        name="name"
        value="{{if .is_new}}Ocki Bagus Pratama{{else}}{{.user.Name}}{{end}}"
        required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <!-- email: ocki.bagus.p@gmail.com -->
      <input
        type="email"
        class="form-control"
        name="email"
        value="{{if .is_new}}ocki.bagus.p@gmail.com{{else}}{{.user.Email}}{{end}}"
        required
      />
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <!-- Password (?) -->
      <!-- password: admin123 -->
      <input
        type="password"
        class="form-control"
        name="password"
        value="{{if .is_new}}admin123{{else}}{{.user.Password}}{{end}}"
        required
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <select name="city" class="form-control">
        <option value="0" {{if .is_new}}selected{{end}}>-----</option>
        {{range $key, $value := .cities}}
        <!-- if eq .ID .user.City? -->
        <option value="{{$value.ID}}">{{$value.City}}</option>
        {{end}}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="photo">Photo</label>
      <input type="file" name="photo" />
    </div>
  </div>
  <a href="/users" class="btn btn-sm btn-primary">&lt;--</a>
  <button
    type="submit"
    class="btn btn-sm {{if .is_new}}btn-primary{{else}}btn-warning{{end}}"
  >
    {{if .is_new}}Sign in{{else}}View{{end}}
  </button>
  {{if not .is_new }}
  <a href="/users/delete/{{.user.Model.ID}}" class="btn btn-sm btn-danger"
    >Delete</a
  >
  {{end}}
</form>
{{end}}
